.movieList {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(2, auto);
  grid-row-gap: 20px;
  grid-column-gap: 1%;
  @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800,300italic,400italic,600italic,700italic,800italic);
  padding: 5px 15px;
  grid-area: auto;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(rgba(30, 27, 38, 0.95), rgba(30, 27, 38, 0.95)),
    url("https://i.ibb.co/FDGqCmM/papers-co-ag74-interstellar-wide-space-film-movie-art-33-iphone6-wallpaper.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

/*movie card css*/

.overViewHolder {
  width: 100%;
  overflow: hidden;
  height: 45px;
  padding: 1%;
  margin: 0% 0.5% 0.5% 0.5%;
  text-overflow: ellipsis;
}

.overViewHolder p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.title {
  margin: 8px 0;
}

.loadMore {
  width: 10%;
  margin: 20px 45%;
  background: #da2526;
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  transition: 0.3s;
  border: 1px solid #da2526;
}

.loadMore:hover {
  transition: 0.3s;
  background: #1e1b26;
  border: 1px solid #fff;
  padding: 10px 10px;
}

.logo a {
  text-decoration: none;
}
.mt-10 {
  margin-top: 10px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}

.mt-30 {
  margin-top: 30px;
}
.mt-35 {
  margin-top: 35px;
}
/*************************************** 404 page css start here ************************/
/*************************************** MovieDetails Page css start here ************************/

.grid-container-two {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 0px;
}

.grid-container-one {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px;
}

.details {
  padding: 15px 0;
}

.storyline {
  text-align: justify;
  width: 80%;
  padding: 0 0.5%;
  margin: 0 10%;
}

.overView {
  text-align: justify;
  width: 80%;
}

.overView p {
  color: #fff;
  margin: 5px 0;
}

.movie-card {
  padding: 1rem;
  min-height: 20rem;
  border-radius: 5px;
  margin-top: 50px;
}

.poster-float {
  position: relative;
  top: -2em;
  width: 60%;
  margin: 0 5% 0 30%;
}

.poster-float img {
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1) !important;
  width: 100%;
}

.badge {
  position: absolute;
  top: -0.3rem;
  right: -0.3rem;
  font-size: 0.7em;
}

#back {
  width: 30px;
  position: absolute;
  left: 20px;
  top: 20px;
  cursor: pointer;
}

.movie-images {
  position: relative;
  width: 80%;
  margin: 0 10%;
}

.images img {
  border-radius: 5px;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1) !important;
}

.images {
  white-space: nowrap;
  width: 98%;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 10px;
}

.movie-new {
  display: inline-block;
  padding: 5px;
  position: relative;
  top: 20px;
  margin-bottom: 20px;
  width: 10%;
}

.movie-new img {
  width: 100%;
}

.movie-title {
  padding: 0.3em 0;
  font-size: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
  color: #fff;
}

.movie-lead {
  margin-top: -0.2em;
  font-size: 0.9em;
  color: #8a99a2;
}

.sliderHolder {
  width: 1350px;
}
